<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container">
      <p class="text-center w-100 my-2 fs-6 fw-lighter">
        <a class="text-muted text-decoration-none me-2" target="_blank" href="#">
          Article: <!-- <i class="fa fa-medium" aria-hidden="true"></i> -->
        </a> | 
        <a class="text-muted text-decoration-none mx-2" target="_blank" href="https://reactive-storage-service-demo.herokuapp.com/">
          Demo: <i class="fa fa-server" aria-hidden="true"></i>
        </a> |
        <a class="text-muted text-decoration-none ms-2" target="_blank" href="https://github.com/Bilkiss/reactive-storage-service-demo">
          Repo: <i class="fa fa-github-square" aria-hidden="true"></i>
        </a>
      </p>
    </div>
</nav>